---
import Layout from "../layouts/Layout.astro";
import SplineModal from "../components/SplineModal.tsx";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro"
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon";
---

<Layout transition:name="homepage" title="Hector's Portfolio">
    <SplineModal client:load/>
     <div class="bg-base-300 px-2 py-4 w-5/6 sm:w-3/4 mx-auto rounded-lg flex justify-center items-center space-x-3 border-black">
            <Icon
                name="noto-v1:light-bulb"
                class="text-info max-h-7 w-7 pointer-events-none hover:scale-95"
            />
        <p class="">Hello, I'm an App developer based in Florida!</p>
    </div>
    <Hero />
    <Projects />
    <Features />
    <Footer />
</Layout>
