---
import Layout from "@/layouts/Layout.astro";
import SplineModal from "@/components/SplineModal.tsx";
import Hero from "@/components/Hero.astro";
import Projects from "@/components/Projects.astro";
import Features from "@/components/Features.astro";
import Footer from "@/components/Footer.astro";
import { Icon } from "astro-icon";
---

<Layout transition:name="homepage" title="Hector's Portfolio">
  <SplineModal client:load />
  <div
    class="mx-auto flex w-5/6 items-center justify-center space-x-3 rounded-lg border-black bg-gray-800 px-2 py-4 text-white dark:text-primary-foreground sm:w-3/4"
  >
    <Icon
      name="noto-v1:light-bulb"
      class="text-info pointer-events-none max-h-7 w-7 hover:scale-95"
    />
    <p class="">Hello, I'm an App developer based in Florida!</p>
  </div>
  <Hero />
  <Projects />
  <Features />
  <Footer />
</Layout>
