---
import { TbSql,TbBrandNextjs,TbBrandHtml5,TbBrandCss3,TbBrandTypescript } from "react-icons/tb";
import {FaReact,FaRust} from "react-icons/fa";
import {SiVercel,SiNodedotjs,SiPostman,SiGithub,SiDocker,SiNestjs, SiPostgresql,SiPrisma,SiTailwindcss} from "react-icons/si";
import {RiJavascriptLine} from "react-icons/ri";
---

<section class="body-font">
    <div
        class="container flex flex-col justify-between px-2 pb-20 md:py-24 mx-auto"
    >
            <h1
                class="text-center pb-3 text-transparent bg-gradient-to-tr from-slate-400 to-slate-700 bg-clip-text title-font sm:text-4xl text-3xl mb-4 font-bold tracking-wide"
            >
                Skills
            </h1>
        <div class="flex justify-evenly text-4xl sm:text-5xl">
            <div class="flex flex-col items-center space-y-2">
                <h1 class="text-lg underline underline-offset-2 font-medium">Frontend</h1>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                        <TbBrandHtml5/>
                    </a>
                    <p class="text-sm">HTML</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                        <TbBrandCss3/>
                    </a>
                    <p class="text-sm">CSS</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                        <RiJavascriptLine />
                    </a>
                    <p class="text-sm">Javascript</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.typescriptlang.org/" target="_blank">
                        <TbBrandTypescript/>
                    </a>
                    <p class="text-sm">Typescript</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://react.dev/" target="_blank">
                        <FaReact/>
                    </a>
                    <p class="text-sm">React</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://vercel.com/" target="_blank">
                        <TbBrandNextjs/>
                    </a>
                    <p class="text-sm">NextJs</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://tailwindcss.com/" target="_blank">
                        <SiTailwindcss/>
                    </a>
                    <p class="text-sm">Tailwind</p>
                </div>
            </div>
            <div class="flex flex-col items-center space-y-2">
                <h1 class="text-lg underline underline-offset-2 font-medium">Backend</h1>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://nodejs.org/en" target="_blank">
                        <SiNodedotjs/>
                    </a>
                    <p class="text-sm">NodeJs</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://nestjs.com/" target="_blank">
                        <SiNestjs/>
                    </a>
                    <p class="text-sm">NestJs</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://developer.mozilla.org/en-US/docs/Glossary/SQL" target="_blank">
                        <TbSql/>
                    </a>
                    <p class="text-sm">SQL</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.postgresql.org/" target="_blank">
                        <SiPostgresql/>
                    </a>
                    <p class="text-sm">Postgesql</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.prisma.io/" target="_blank">
                        <SiPrisma />
                    </a>
                    <p class="text-sm">Prisma ORM</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.rust-lang.org/" target="_blank">
                        <FaRust />
                    </a>
                    <p class="text-sm">Rust</p>
                </div>
            </div>
            <div class="flex flex-col items-center space-y-2">
                <h1 class="text-lg underline underline-offset-2 font-medium">Tools</h1>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://git-scm.com/" target="_blank">
                        <SiGithub/>
                    </a>
                    <p class="text-sm">Git</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.docker.com/" target="_blank">
                        <SiDocker/>
                    </a>
                    <p class="text-sm">Docker</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.postman.com/" target="_blank">
                        <SiPostman/>
                    </a>
                    <p class="text-sm">Postman</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://vercel.com/" target="_blank">
                        <SiVercel/>
                    </a>
                    <p class="text-sm">Vercel</p>
                </div>
            </div>
        </div>
    </div>
</section>
