---
---

<section class="body-font">
    <div
        class="container flex flex-col justify-between px-2 pb-20 md:py-24 mx-auto"
    >
        <div
            class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box"
        >
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">
                <p class="py-2 text-xl">Typescript</p>
                <progress
                    class="animate-pulse  progress progress-info w-3/4"
                    value="80"
                    max="100"></progress>
            </div>
            <div class="collapse-content">
                <p>
                    Based on my current skill level, I would say that I have
                    intermediate knowledge of TypeScript, and I feel
                    very comfortable using tsx as well. With TypeScript, I have
                    a good grasp of the basics and can write and maintain complex
                    programs. I have experience working with type definitions,
                    interfaces, generics, and other core features of the
                    language. In terms of tsx, I am confident in my ability to
                    work with React and create type-safe components. Of course,
                    I know there is always room for improvement, but with more
                    practice and study, I believe I can continue to develop my
                    TypeScript skills and become even more proficient in the
                    language.
                </p>
            </div>
        </div>
        <div
            class="animate-pulse hover:animate-none collapse collapse-plus border border-base-300 bg-base-100 rounded-box"
        >
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">
                <p class="py-2 text-xl">Rust</p>
                <progress
                    class="progress progress-error w-3/4"
                    value="50"
                    max="100"></progress>
            </div>
            <div class="collapse-content">
                <p>
                    I've gained a good understanding of the borrow checker,
                    Results, Enums, and traits. The borrow checker has been a
                    challenging but essential aspect to understand for safe and
                    efficient code. I appreciate how Results and Enums make code
                    more readable, and traits help create reusable code. I'm
                    excited to keep building my knowledge and skills as a Rust
                    developer with this strong foundation.
                </p>
            </div>
        </div>
    </div>
</section>
