---
import { DiReact } from "react-icons/di";
import { TbBrandNextjs } from "react-icons/tb";
---

<section class="body-font">
    <div class="container flex flex-col px-5 py-24 mx-auto text-2xl">
        <div
            class="animate-pulse hover:animate-none collapse collapse-plus border border-base-300 bg-base-100 rounded-box"
        >
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">
                <p class="py-2">Typescript</p>
                <progress
                    class="progress progress-info w-3/4"
                    value="80"
                    max="100"></progress>
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
        <div
            class="animate-pulse hover:animate-none collapse collapse-plus border border-base-300 bg-base-100 rounded-box"
        >
            <input type="checkbox" />
            <div class="collapse-title text-xl font-medium">
                <p>Rust</p>
                <progress
                    class="progress progress-error w-3/4"
                    value="60"
                    max="100"></progress>
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
        <div
            class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box"
        >
            <input type="checkbox" />
            <div
                class="animate-pulse hover:animate-none collapse-title text-xl font-medium"
            >
                <p>Go</p>
                <progress
                    class="progress progress-info w-3/4"
                    value="40"
                    max="100"></progress>
            </div>
            <div class="collapse-content">
                <p>hello</p>
            </div>
        </div>
    </div>
</section>
