---
import { Icon } from 'astro-icon'
---

<section class="body-font sm:py-0 pb-3 md:pb-0">
    <div
        class="container flex flex-col justify-between px-2 pb-20 md:py-24 mx-auto"
    >
            <h1
                class="underline underline-offset-4 pb-8 sm:text-4xl text-3xl mb-4 font-bold tracking-wide"
            >
                Skills
            </h1>
        <div class="flex justify-around text-4xl sm:text-5xl">
            <div class="flex flex-col items-center space-y-2">
                <h1 class="text-lg underline underline-offset-2 font-medium">Frontend</h1>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
                        <Icon name="icon-park-outline:html-five" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">HTML</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                        <Icon name="tabler:brand-css3" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">CSS</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                        <Icon name="fluent:javascript-16-regular" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Javascript</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.typescriptlang.org/" target="_blank">
                    <p class="text-4xl font-bold">TS</p>
                    </a>
                    <p class="text-sm">Typescript</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://react.dev/" target="_blank">
                        <Icon name="mdi:react" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">React</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://vercel.com/" target="_blank">
                        <Icon name="file-icons:nextjs" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">NextJs</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://tailwindcss.com/" target="_blank">
                        <Icon name="mdi:tailwind" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Tailwind</p>
                </div>
            </div>
            <div class="flex flex-col items-center space-y-2">
                <h1 class="text-lg underline underline-offset-2 font-medium">Backend</h1>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://nodejs.org/en" target="_blank">
                        <Icon name="mdi:nodejs" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">NodeJs</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://nestjs.com/" target="_blank">
                        <Icon name="simple-icons:nestjs" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">NestJs</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://developer.mozilla.org/en-US/docs/Glossary/SQL" target="_blank">
                    <p class="text-4xl font-bold">SQL</p>
                    </a>
                    <p class="text-sm">SQL</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.postgresql.org/" target="_blank">
                        <Icon name="simple-icons:postgresql" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Postgesql</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.prisma.io/" target="_blank">
                        <Icon name="simple-icons:prisma" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Prisma ORM</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.rust-lang.org/" target="_blank">
                        <Icon name="cib:rust" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Rust</p>
                </div>
            </div>
            <div class="flex flex-col items-center space-y-2">
                <h1 class="text-lg underline underline-offset-2 font-medium">Tools</h1>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://git-scm.com/" target="_blank">
                        <Icon name="mdi:git" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Git</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.docker.com/" target="_blank">
                        <Icon name="mdi:docker" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Docker</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://www.postman.com/" target="_blank">
                        <Icon name="cib:postman" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Postman</p>
                </div>
                <div class="flex flex-col items-center">
                    <a class="hover:scale-95 active:scale-105" href="https://vercel.com/" target="_blank">
                        <Icon name="simple-icons:vercel" 
                        class="h-14 w-14 pointer-events-none hover:scale-95"
                        />
                    </a>
                    <p class="text-sm">Vercel</p>
                </div>
            </div>
        </div>
    </div>
</section>
