---
import { BsTwitter } from "react-icons/bs";
---

<footer
    class="footer items-center flex md:justify-between p-4 text-neutral-content"
>
    <div class="items-center flex flex-shrink">
        <p class="text-xl">👾</p>
        <p>Copyright © 2023 Hector Oropesa - All rights reserved</p>
    </div>
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a
            class="text-xl hover:scale-95"
            href="https://twitter.com/HectorOropesa1"
            target="_blank"
        >
            <BsTwitter />
        </a>
    </div>
</footer>
