---
import { Twitter } from "lucide-astro";
---

<footer
  class="absolute bottom-0 flex items-center justify-between space-x-2 p-4"
>
  <p>Copyright © 2024 Hector Oropesa - All rights reserved</p>
  <a href="https://twitter.com/HectorOropesa1" target="_blank">
    <Twitter />
  </a>
</footer>
