---
import { Icon } from "astro-icon";
---

<footer class="absolute bottom-0 footer items-center flex md:justify-between p-4">
    <div class="items-center flex flex-shrink">
        <Icon
            name="openmoji:alien-monster"
            class="max-h-7 w-7 pointer-events-none hover:scale-95"
        />
        <p>Copyright © 2023 Hector Oropesa - All rights reserved</p>
    </div>
     <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        <a
            class="text-xl hover:scale-95 active:scale-105"
            href="https://twitter.com/HectorOropesa1"
            target="_blank"
        >
            <Icon
                name="mdi:twitter"
                class="text-blue-500 max-h-7 w-7 pointer-events-none hover:scale-95"
            />
        </a>
    </div>
</footer>
