---
import { Icon } from "astro-icon";
---

<footer class="absolute bottom-0 footer items-center flex md:justify-between p-4">
    <div class="items-center flex flex-shrink">
        <Icon
            name="openmoji:alien-monster"
            class="max-h-7 w-7 pointer-events-none hover:scale-95"
        />
        <p>Copyright © 2023 Hector Oropesa - All rights reserved</p>
    </div>
</footer>
