---
import { Button } from "../components/ui/button.tsx";
---

<section class="body-font w-full px-2 py-16 pb-3 sm:py-0 md:pb-0">
  <div class="container mx-auto py-10">
    <h1 class="mb-5 text-center text-2xl font-bold sm:text-4xl md:text-6xl">
      Hector Oropesa
      <br class="hidden lg:inline-block" />Full-Stack Developer
    </h1>
    <Button
      id="contact-button"
      className="mx-auto flex w-60 justify-center bg-teal-500 shadow-sm shadow-teal-600 hover:bg-teal-500/80 "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        width="20"
        height="20"
      >
        <rect x="3" y="4" width="18" height="16" rx="2" ry="2"></rect>
        <polyline points="3 6 12 13 21 6"></polyline>
      </svg>
      <p class="sm:text-md px-1">Contact</p>
    </Button>
  </div>
  <div class="w-full px-3 pt-3">
    <p
      class="mx-auto max-w-3xl whitespace-normal px-2 text-justify leading-relaxed"
    >
      Hi, I'm Hector! I'm a self-taught software developer and cloud engineer.
      My tech stack typically includes TypeScript, React, Next.js, and either
      SQLite or PostgreSQL. I also enjoy using Python for scripting and
      automating tasks in the cloud. I love building full-stack applications and
      even creating low-level CLI tools or developer tooling with Go. I started
      creating software in 2022 and have never looked back! I'm always tinkering
      or working on some sort of application. I enjoy finding simple solutions
      to tricky problems and experimenting with new ideas. Most days, you’ll
      find me learning something new or building something fun.
    </p>
  </div>
</section>

<script>
  const button = document.getElementById("contact-button");

  button?.addEventListener("click", () => {
    window.location.href = "#contact";
  });
</script>
