---
import { Image } from 'astro:assets';
import ProfileImage from "../assets/profile.png";
---

<section class="body-font sm:py-0 pb-3 md:pt-16 md:pb-0 px-2">
    <div class="container mx-auto flex flex-col sm:flex-row">
        <div class="w-full sm:w-1/2">
                <Image
                    width={1200}
                    height={900}
                    src={ProfileImage}
                    alt="Hero Profile Picture"
                />
        </div>
        <div class="flex flex-col items-center justify-center pb-3">
            <h1
                class="text-center text-transparent bg-gradient-to-tr from-slate-400 to-slate-700 bg-clip-text text-xl sm:text-4xl mb-4 font-bold"
            >
                Hector Oropesa
                <br class="hidden lg:inline-block" />Full-Stack Developer
            </h1>
            <div class="flex justify-center space-x-3">
                <button
                    class="btn btn-md hover:scale-95 active:scale-105  focus:outline-none"
                >
                    <a href="mailto:horopesa494@gmail.com">Contact</a>
                </button>
                <button
                    class="btn btn-md btn-accent hover:scale-95 active:scale-105"
                >
                    <a href="/projects">Projects</a>
                </button>
            </div>
        </div>
        </div>
    <div
        class="px-3 w-full"
    >
        <p class="whitespace-normal leading-relaxed indent-2 px-2">
            Hector Oropesa, a driven freelance fullstack developer based in the lively Tampa Bay area in Florida. Hector possesses an unparalleled knack for rapid self-learning and is always at the forefront of the ever-evolving web design trends. With a versatile skill set that encompasses not only top-tier application coding but also a keen eye for design and the creation of intuitive UI/UX interfaces, Hector stands as a valuable asset for any project. His unwavering commitment to excellence and staying on the cutting edge of the tech world make him an ideal choice for your next software development endeavor.
        </p>
    </div>
</section>
