---
import ToggleThemeButton from "../components/ToggleTheme";
import MobileMenu from "../components/MobileMenu";
import SplineModal from '../components/SplineModal';
---

<nav
    class="z-50 py-4 pr-2 container items-center lg:max-w-screen-md bg-base-100 bg-opacity-60 backdrop-blur-md fixed top-0"
    transition:persist
>
    <div class="flex justify-end items-center">
        <div class="hidden md:flex md:justify-end md:items-center md:space-x-3 md:font-medium">
            <a
                href="/"
                class="hover:link hover:scale-95 active:scale-105"
                data-tip="Home"
            >
                Home
            </a>
            <a
                href="/projects"
                class="hover:link hover:scale-95 active:scale-105"
                data-tip="Projects"
            >
                Projects
            </a>
            <a
                href="https://github.com/hector3211"
                target="_blank"
                class="hover:link hover:scale-95 active:scale-105 px-1"
                data-tip="Github"
            >
                Github
            </a>
        </div>
        <ToggleThemeButton client:load/>
        <MobileMenu client:load />
    </div>
</nav>
