---
import ToggleThemeButton from "../components/ToggleTheme";
import MobileMenu from "../components/MobileMenu";
import { ExternalLink } from "lucide-astro";
---

<nav
  transition:persist
  class="container fixed top-0 z-50 w-full items-center bg-opacity-60 py-4 backdrop-blur-md lg:max-w-screen-lg"
>
  <div class="flex items-center justify-between">
    <div
      class="hidden md:flex md:items-end md:justify-start md:space-x-5 md:pl-3 md:font-medium"
    >
      <a
        href="/"
        class="transform text-2xl font-bold transition-all duration-200 hover:scale-95 active:scale-105"
      >
        Hector Oropesa
      </a>
      <div class="flex space-x-3">
        <a
          href="/"
          class="hover:link transform transition-all duration-200 hover:scale-95 active:scale-105"
          data-tip="Home"
        >
          Home
        </a>
        <a
          href="https://github.com/hector3211"
          target="_blank"
          class="hover:link transform px-1 transition-all duration-200 hover:scale-95 active:scale-105"
          data-tip="Github"
        >
          Github
        </a>
        <a
          href="https://github.com/hector3211/astro-portfolio"
          target="_blank"
          class="hover:link flex transform items-center space-x-1 transition-all duration-200 hover:scale-95 active:scale-105"
          data-tip="Source"
        >
          <p>Source</p>
          <ExternalLink />
        </a>
      </div>
    </div>
    <a
      href="/"
      class="block text-2xl font-bold hover:scale-95 active:scale-105 md:hidden"
    >
      Hector Oropesa
    </a>
    <div class="flex">
      <ToggleThemeButton client:load />
      <MobileMenu client:load />
    </div>
  </div>
</nav>
