---
import RustFlixImage from "../assets/rustflixv3.png";
import TravelImage from "../assets/travel.png";
import GraniteImage from "../assets/granite.png";
import WorkerImage from "../assets/worker.png";
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets';
import { Button } from "./ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "../components/ui/card";
---


<section class="body-font py-10 sm:py-20 pb-8 md:pb-0">
            <h1
                class="text-transparent bg-gradient-to-tr from-slate-400 to-slate-700 bg-clip-text px-2 pb-8 sm:text-4xl text-3xl font-bold tracking-wide"
            >
                Apps
            </h1>
        <div class="flex flex-col space-y-2 items-center md:flex-row md:flex-wrap md:justify-evenly md:items-end md:space-y-5">
        <Card>
  <CardHeader>
    <CardTitle>RustFlix</CardTitle>
    <CardDescription>Movie application.</CardDescription>
  </CardHeader>
  <CardContent>
                <Image
                    width="900"
                    height="400"
                    src={RustFlixImage}
                    alt="Rustlix project card"
                />
                <p class="lg:text-md text-center px-2">
                    Rustflix is a cutting-edge video streaming web app. It uses Next.js 13 server components for lightning-fast frontend rendering. On the backend, with Drizzle ORM ensures efficient data handling and top-notch performance, providing a seamless video streaming experience. With its sleek design and user-friendly interface, Rustflix offers an exceptional entertainment experience.
                </p>
  </CardContent>
  <CardFooter>
                <div class="py-2 ml-2  flex items-center space-x-1">
                    <Button>
                        <a
                            href="https://rustflix.hectororopesa.com/"
                            target="_blank">Demo</a>
                    </Button>
                    <Button>
                        <a class="  flex items-center" href="https://github.com/hector3211/rust-fullstack" target="_blank">
                            <p>Source Code</p>
                            <Icon name="gridicons:external" 
                                class="h-4 w-4 pointer-events-none hover:scale-95"
                            />
                        </a>
                    </Button>
                </div>
  </CardFooter>
</Card>
        <Card>
            <CardHeader>
                <CardTitle>Travel</CardTitle>
                <CardDescription>Travel aggency application.</CardDescription>
            </CardHeader>
            <CardContent>
                <Image
                    width="900"
                    height="400"
                    src={TravelImage}
                    alt="travel project card"
                />
                <p class="lg:text-md text-center px-2 ">
                    This travel app, built with Next.js, offers real-time weather updates and leverages the latest website design trends. It incorporates modern design techniques like responsive design and animations, creating an engaging user experience. The app is not only fast and efficient, but it also ensures that travelers are well-prepared by providing up-to-the-minute weather information.
                </p>
            </CardContent>
            <CardFooter>
                <div class="py-2 ml-2  flex items-center space-x-1">
                    <Button>
                        <a
                            href="https://travel.hectororopesa.com"
                            target="_blank">Demo</a
                        >
                    </Button>
                    <Button>
                        <a class="  flex items-center" href="https://github.com/hector3211/Travel-website" target="_blank">
                            <p>Source Code</p>
                            <Icon name="gridicons:external" 
                                class="h-4 w-4 pointer-events-none hover:scale-95"
                            />
                        </a>
                    </Button>
                </div>
            </CardFooter>
        </Card>
        <Card>
  <CardHeader>
    <CardTitle>Granite</CardTitle>
    <CardDescription>Granite shop website.</CardDescription>
  </CardHeader>
  <CardContent>
                <Image
                    width="900"
                    height="400"
                    src={GraniteImage}
                    alt="Granite shop project Card"
                />
                <p class="lg:text-md text-center px-2 ">
                    This granite shop website, created with Astro JS 3.0 and TypeScript, offers a smooth and engaging user experience. Powered by React, the site delivers enhanced interactivity and responsiveness. We've implemented a top-notch validated form for data accuracy. Moreover, it follows the trending responsive design, ensuring it looks great on all devices.
                </p>
  </CardContent>
  <CardFooter>
                <div class="py-2 ml-2  flex items-center space-x-1">
                    <Button>
                        <a
                            href="https://granite.hectororopesa.com"
                            target="_blank">Demo</a
                        >
                    </Button>
                    <Button>
                        <a class="  flex items-center" href="https://github.com/hector3211/gd-granite" target="_blank">
                            <p>Source Code</p>
                            <Icon name="gridicons:external" 
                                class="h-4 w-4 pointer-events-none hover:scale-95"
                            />
                        </a>
                    </Button>
                </div>
  </CardFooter>
</Card>

        <Card>
  <CardHeader>
    <CardTitle>Worker</CardTitle>
    <CardDescription>CMS for granite companys</CardDescription>
  </CardHeader>
  <CardContent>
                <Image
                    width="900"
                    height="400"
                    src={WorkerImage}
                    alt="Worker shop project Card"
                />
                <p class="lg:text-md text-center px-2">
                    Built on Next.Js, featuring admin role-based job creation, UploadThing for project picture uploads, and individual profiles for fabricators. Notably, fabricators receive React email notifications for newly assigned jobs. With TypeScript and modern UI/UX patterns, our app offers a user-friendly solution to optimize the production process for granite companies.
                </p>
  </CardContent>
  <CardFooter>
                <div class="py-2 ml-2 w-full flex justify-between items-center ">
                    <div class="flex space-x-1">
                        <Button
                            disabled
                        >
                            Demo
                        </Button>
                        <Button className="  flex items-center" disabled>
                            <p>Source Code</p>
                            <Icon name="gridicons:external" 
                                class="h-4 w-4 pointer-events-none hover:scale-95"
                            />
                        </Button>
                    </div>
                        <span class="text-primary-foreground bg-primary px-2 rounded-full">Private</span>
                </div>
  </CardFooter>
</Card>
        </div>
</section>
