---
import RustFlixImage from "../assets/rustflixv2.png";
import TravelImage from "../assets/travel.png";
import GraniteImage from "../assets/granite.png";
import WorkerImage from "../assets/worker.png";
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets';

---


<section class="body-font py-10 sm:py-20 pb-8 md:pb-0">
    <div class="container mx-auto">
            <h1
                class="text-transparent bg-gradient-to-tr from-slate-400 to-slate-700 bg-clip-text px-2 pb-8 sm:text-4xl text-3xl font-bold tracking-wide"
            >
                Apps
            </h1>
        <div class="flex flex-col space-y-2 items-center md:flex-row md:flex-wrap md:justify-evenly md:items-end md:space-y-3">
            <div
                class="card card-compact border border-gray-500 w-80 h-[480px] bg-base-100 shadow-xl"
            >
                <figure>
                    <Image
                        width="600"
                        height="400"
                        src={RustFlixImage}
                        alt="Rustlix project card"
                    />
                </figure>
                <div class="card-body">
                    <div class="flex items-center space-x-1">
                            <a
                        class="card-title btn btn-sm"
                                href="https://rustflix.hectororopesa.com/"
                                target="_blank">Demo</a
                            >
                            >
                            <a class="card-title btn btn-sm flex items-center" href="https://github.com/hector3211/rust-fullstack" target="_blank">
                                <p>Source Code</p>
                        <Icon name="gridicons:external" 
                        class="h-4 w-4 pointer-events-none hover:scale-95"
                        />
                            </a>
                    </div>
                    <p class="lg:text-md">
                        Rustflix is a cutting-edge video streaming web app. It uses Next.js 13 server components for lightning-fast frontend rendering. On the backend, Rust Actix with Diesel ORM ensures efficient data handling and top-notch performance, providing a seamless video streaming experience. With its sleek design and user-friendly interface, Rustflix offers an exceptional entertainment experience.
                    </p>
                     <div class="relative mx-auto badge bg-orange-400">
                        <p class="font-semibold text-gray-800">Under Construction</p>
                    </div>
                </div>
            </div>
            <div
                class="card card-compact border border-gray-500 w-80 h-[480px] bg-base-100 shadow-xl"
            >
                <figure>
                    <Image
                        width="600"
                        height="400"
                        src={TravelImage}
                        alt="travel project card"
                    />
                </figure>
                <div class="card-body">
                    <div class="flex items-center space-x-1">
                            <a
                        class="card-title btn btn-sm"
                                href="https://travel.hectororopesa.com"
                                target="_blank">Demo</a
                            >
                            <a class="card-title btn btn-sm flex items-center" href="https://github.com/hector3211/Travel-website" target="_blank">
                                <p>Source Code</p>
                        <Icon name="gridicons:external" 
                        class="h-4 w-4 pointer-events-none hover:scale-95"
                        />
                            </a>
                    </div>
                    <p class="lg:text-md">
                        This travel app, built with Next.js, offers real-time weather updates and leverages the latest website design trends. It incorporates modern design techniques like responsive design and animations, creating an engaging user experience. The app is not only fast and efficient, but it also ensures that travelers are well-prepared by providing up-to-the-minute weather information.
                    </p>
                     <div class="relative mx-auto badge badge-success">
                         <span class="absolute top-0 right-0 flex h-full w-full">
                            <span class="animate-ping inline-flex h-full w-full rounded-full bg-emerald-500 opacity-30"></span>
                            <span class="absolute top-0 right-0 inline-flex rounded-full h-full w-full bg-emerald-500 opacity-10"></span>
                          </span>
                        <p class="font-semibold text-gray-800">Live</p>
                    </div>
                </div>
            </div>
            <div
                class="card card-compact border border-gray-500 w-80 h-[480px] bg-base-100 shadow-xl"
            >
                <figure>
                    <Image
                        width="600"
                        height="400"
                        src={GraniteImage}
                        alt="Granite shop project Card"
                    />
                </figure>
                <div class="card-body">
                    <div class="flex items-center space-x-1">
                            <a
                        class="card-title btn btn-sm"
                                href="https://granite.hectororopesa.com"
                                target="_blank">Demo</a
                            >
                            <a class="card-title btn btn-sm flex items-center" href="https://github.com/hector3211/gd-granite" target="_blank">
                                <p>Source Code</p>
                        <Icon name="gridicons:external" 
                        class="h-4 w-4 pointer-events-none hover:scale-95"
                        />
                            </a>
                        </div>
                    <p class="lg:text-md">
                        This granite shop website, created with Astro JS 3.0 and TypeScript, offers a smooth and engaging user experience. Powered by React, the site delivers enhanced interactivity and responsiveness. We've implemented a top-notch validated form for data accuracy. Moreover, it follows the trending responsive design, ensuring it looks great on all devices.
                    </p>
                     <div class="relative mx-auto badge badge-success">
                         <span class="absolute top-0 right-0 flex h-full w-full">
                            <span class="animate-ping inline-flex h-full w-full rounded-full bg-emerald-500 opacity-30"></span>
                            <span class="absolute top-0 right-0 inline-flex rounded-full h-full w-full bg-emerald-500 opacity-10"></span>
                          </span>
                        <p class="font-semibold text-gray-800">Live</p>
                    </div>
                </div>
            </div>
            <div
                class="card card-compact border border-gray-500 w-80 h-[480px] bg-base-100 shadow-xl"
            >
                <figure>
                    <Image
                        width="600"
                        height="400"
                        src={WorkerImage}
                        alt="Worker shop project Card"
                    />
                </figure>
                <div class="card-body">
                    <div class="flex items-center space-x-1">
                            <button
                            class="card-title btn btn-sm"
                                disabled
                        >
                            Demo
                        </button>
                            <button class="card-title btn btn-sm flex items-center" disabled>
                                <p>Source Code</p>
                        <Icon name="gridicons:external" 
                        class="h-4 w-4 pointer-events-none hover:scale-95"
                        />
                            </button>
                        </div>
                    <p class="lg:text-md">
                        Built on Next.js 13, featuring admin role-based job creation, UploadThing for project picture uploads, and individual profiles for fabricators. Notably, fabricators receive React email notifications for newly assigned jobs, streamlining communication and workflow. With TypeScript and modern UI/UX patterns, our app offers a user-friendly solution to optimize the production process for granite companies.
                    </p>
                    <div class="flex justify-center">
                        <span class="badge badge-info text-gray-800">Private</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
