---
import RustFlixImage from "../assets/rustflix.png";
import TravelImage from "../assets/travel.png";
import GraniteImage from "../assets/gd.png";
import GraniteSyncImage from "../assets/sync.png";
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import { Button } from "./ui/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "../components/ui/card";
---

<section class="body-font py-10 pb-8 sm:py-20 md:pb-0">
  <h1
    class="bg-gradient-to-tr from-slate-400 to-slate-700 bg-clip-text px-2 pb-8 text-3xl font-bold tracking-wide text-transparent sm:text-4xl"
  >
    Apps
  </h1>
  <div
    class="grid grid-cols-1 items-center justify-items-center gap-4 sm:grid-cols-2"
  >
    <Card>
      <CardHeader>
        <CardTitle>Worker</CardTitle>
        <CardDescription>
          Job creation, inventory management, email notifications granite cms.
        </CardDescription>
      </CardHeader>
      <CardContent className="h-[35rem]">
        <Image
          width={900}
          height={400}
          src={GraniteSyncImage}
          alt="granitesync project Card"
        />
        <p class="lg:text-md py-3 text-justify leading-relaxed">
          Built on Next.Js, featuring admin role-based login, inventory
          management and job creation, UploadThing for project picture uploads,
          and individual profiles for fabricators. Notably, fabricators receive
          React email notifications for newly assigned jobs. With TypeScript and
          modern UI/UX patterns, our app offers a user-friendly solution to
          optimize the production process for granite companies.
        </p>
      </CardContent>
      <CardFooter>
        <div class="ml-2 flex w-full items-center justify-between py-2">
          <div class="flex space-x-1">
            <a href="https://www.granitesync.com">
              <Button>Demo</Button>
            </a>
            <Button className="  flex items-center" disabled>
              <p>Source Code</p>
              <Icon
                name="gridicons:external"
                class="pointer-events-none h-4 w-4 hover:scale-95"
              />
            </Button>
          </div>
          <span class="rounded-full bg-primary px-2 text-primary-foreground"
            >Private</span
          >
        </div>
      </CardFooter>
    </Card>
    <Card>
      <CardHeader>
        <CardTitle>RustFlix</CardTitle>
        <CardDescription>Movie application.</CardDescription>
      </CardHeader>
      <CardContent className="h-[35rem]">
        <Image
          width={900}
          height={400}
          src={RustFlixImage}
          alt="rustlix project card"
        />
        <p class="lg:text-md py-3 text-justify leading-relaxed">
          Rustflix is a cutting-edge video streaming web app. It uses Next.js 13
          server components for lightning-fast frontend rendering. On the
          backend, with Drizzle ORM ensures efficient data handling and
          top-notch performance, providing a seamless video streaming
          experience. With its sleek design and user-friendly interface,
          Rustflix offers an exceptional entertainment experience.
        </p>
      </CardContent>
      <CardFooter>
        <div class="ml-2 flex items-center space-x-1 py-2">
          <Button>
            <a href="https://rustflix.hectorcodes.dev/" target="_blank">Demo</a>
          </Button>
          <Button>
            <a
              class="flex items-center"
              href="https://github.com/hector3211/rust-fullstack"
              target="_blank"
            >
              <p>Source Code</p>
              <Icon
                name="gridicons:external"
                class="pointer-events-none h-4 w-4 hover:scale-95"
              />
            </a>
          </Button>
        </div>
      </CardFooter>
    </Card>
    <Card>
      <CardHeader>
        <CardTitle>Travel</CardTitle>
        <CardDescription>Travel aggency application.</CardDescription>
      </CardHeader>
      <CardContent className="h-[35rem]">
        <Image
          width={900}
          height={400}
          src={TravelImage}
          alt="travel project card"
        />
        <p class="lg:text-md py-3 text-justify leading-relaxed">
          This travel app, built with Next.js, offers real-time weather updates
          and leverages the latest website design trends. It incorporates modern
          design techniques like responsive design and animations, creating an
          engaging user experience. The app is not only fast and efficient, but
          it also ensures that travelers are well-prepared by providing
          up-to-the-minute weather information.
        </p>
      </CardContent>
      <CardFooter>
        <div class="ml-2 flex items-center space-x-1 py-2">
          <Button>
            <a href="https://travel.hectorcodes.dev" target="_blank">Demo</a>
          </Button>
          <Button>
            <a
              class="flex items-center"
              href="https://github.com/hector3211/Travel-website"
              target="_blank"
            >
              <p>Source Code</p>
              <Icon
                name="gridicons:external"
                class="pointer-events-none h-4 w-4 hover:scale-95"
              />
            </a>
          </Button>
        </div>
      </CardFooter>
    </Card>
    <Card>
      <CardHeader>
        <CardTitle>Granite</CardTitle>
        <CardDescription>Granite shop website.</CardDescription>
      </CardHeader>
      <CardContent className="h-[35rem]">
        <Image
          width={900}
          height={400}
          src={GraniteImage}
          alt="Granite shop project Card"
        />
        <p class="lg:text-md py-3 text-justify leading-relaxed">
          This granite shop website, created with Astro JS 3.0 and TypeScript,
          offers a smooth and engaging user experience. Powered by React, the
          site delivers enhanced interactivity and responsiveness. We've
          implemented a top-notch validated form for data accuracy. Moreover, it
          follows the trending responsive design, ensuring it looks great on all
          devices.
        </p>
      </CardContent>
      <CardFooter>
        <div class="ml-2 flex items-center space-x-1 py-2">
          <Button>
            <a href="https://granite.hectorcodes.dev" target="_blank">Demo</a>
          </Button>
          <Button>
            <a
              class="flex items-center"
              href="https://github.com/hector3211/gd-granite"
              target="_blank"
            >
              <p>Source Code</p>
              <Icon
                name="gridicons:external"
                class="pointer-events-none h-4 w-4 hover:scale-95"
              />
            </a>
          </Button>
        </div>
      </CardFooter>
    </Card>
  </div>
</section>
