---
---

<div
    class="collapse collapse-plus border border-base-300 bg-base-100 rounded-box"
>
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
        <h2 class="card-title">Rust Clap DataLogger</h2>
    </div>
    <div class="collapse-content">
        <p>
            This Rust-based project uses the Clap library for command-line
            argument parsing and Diesel for data management, specifically data
            logging. The program is designed to take in information about a job,
            including its name, invoice number, salesperson, and payment status,
            through command-line arguments. The information is then saved to a
            database using Diesel's ORM functionality. This project is ideal for
            small businesses or individuals who need a simple and efficient way
            to track job information and payment status
        </p>
    </div>
</div>
