---
import Layout from "../../layouts/Layout.astro";
import { Image } from 'astro:assets';
import RustFlixImage from "../../../public/rustflix.png";
import TravelImage from "../../../public/travel.png";
import GraniteImage from "../../../public/granite.png";
import WorkerImage from "../../../public/worker.png";
---

<Layout transition:name="projectspage"  title="Hector's projects">
    <div class="container mx-auto">
        <h1
            class="lg:py-7 pb-5 text-3xl lg:text-4xl text-center font-bold underline underline-offset-4"
        >
            Deployed Apps
        </h1>
        <div class="flex flex-col space-y-2 items-end md:flex-row md:flex-wrap md:justify-evenly md:space-y-3">
            <div
                class="card card-compact border border-gray-500 w-80 h-[450px] bg-base-100 shadow-xl"
            >
                <figure>
                    <Image
                        width={600}
                        height={400}
                        src={RustFlixImage}
                        alt="travel project card"
                    />
                </figure>
                <div class="card-body">
                            <a
                        class="card-title link"
                                href="https://rustflix.hectororopesa.com"
                                target="_blank">RustFlix</a
                            >
                    <p class="lg:text-md">
                        Rustflix is a cutting-edge video streaming web app. It uses Next.js 13 server components for lightning-fast frontend rendering. On the backend, Rust Actix with Diesel ORM ensures efficient data handling and top-notch performance, providing a seamless video streaming experience. With its sleek design and user-friendly interface, Rustflix offers an exceptional entertainment experience.
                    </p>
                     <div class="relative mx-auto badge bg-orange-400">
                        <p class="font-semibold text-gray-800">Under Construction</p>
                    </div>
                </div>
            </div>
            <div
                class="card card-compact border border-gray-500 w-80 h-[450px] bg-base-100 shadow-xl"
            >
                <figure>
                    <Image
                        width={600}
                        height={400}
                        src={TravelImage}
                        alt="travel project card"
                    />
                </figure>
                <div class="card-body">
                            <a
                        class="card-title link"
                                href="https://travel.hectororopesa.com"
                                target="_blank">Travel</a
                            >
                    <p class="lg:text-md">
                        This travel app, built with Next.js, offers real-time weather updates and leverages the latest website design trends. It incorporates modern design techniques like responsive design and animations, creating an engaging user experience. The app is not only fast and efficient, but it also ensures that travelers are well-prepared by providing up-to-the-minute weather information.
                    </p>
                     <div class="relative mx-auto badge badge-success">
                         <span class="absolute top-0 right-0 flex h-full w-full">
                            <span class="animate-ping inline-flex h-full w-full rounded-full bg-emerald-500 opacity-30"></span>
                            <span class="absolute top-0 right-0 inline-flex rounded-full h-full w-full bg-emerald-500 opacity-10"></span>
                          </span>
                        <p class="font-semibold text-gray-800">Live</p>
                    </div>
                </div>
            </div>
            <div
                class="card card-compact border border-gray-500 w-80 h-[450px] bg-base-100 shadow-xl"
            >
                <figure>
                    <Image
                        width={600}
                        height={400}
                        src={GraniteImage}
                        alt="Granite shop project Card"
                    />
                </figure>
                <div class="card-body">
                            <a
                        class="card-title link"
                                href="https://granite.hectororopesa.com"
                                target="_blank">Ganite</a
                            >
                    <p class="lg:text-md">
                        This granite shop website, created with Astro JS 3.0 and TypeScript, offers a smooth and engaging user experience. Powered by React, the site delivers enhanced interactivity and responsiveness. We've implemented a top-notch validated form for data accuracy. Moreover, it follows the trending responsive design, ensuring it looks great on all devices.
                    </p>
                     <div class="relative mx-auto badge badge-success">
                         <span class="absolute top-0 right-0 flex h-full w-full">
                            <span class="animate-ping inline-flex h-full w-full rounded-full bg-emerald-500 opacity-30"></span>
                            <span class="absolute top-0 right-0 inline-flex rounded-full h-full w-full bg-emerald-500 opacity-10"></span>
                          </span>
                        <p class="font-semibold text-gray-800">Live</p>
                    </div>
                </div>
            </div>
            <div
                class="card card-compact border border-gray-500 w-80 h-[450px] bg-base-100 shadow-xl"
            >
                <figure>
                    <Image
                        width={600}
                        height={400}
                        src={WorkerImage}
                        alt="Granite shop project Card"
                    />
                </figure>
                <div class="card-body">
                    <p class="card-title">Worker</p>
                    <p class="lg:text-md">
                        Built on Next.js 13, featuring admin role-based job creation, UploadThing for project picture uploads, and individual profiles for fabricators. Notably, fabricators receive React email notifications for newly assigned jobs, streamlining communication and workflow. With TypeScript and modern UI/UX patterns, our app offers a user-friendly solution to optimize the production process for granite companies.
                    </p>
                    <div class="flex justify-center">
                        <span class="badge badge-info text-gray-800">Private</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
