---
import '../styles/globals.css'
export interface Props {
    title: string;
}

const { title } = Astro.props;
import NavBar from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <script is:inline>
        </script>
        <ViewTransitions/>
        <title>{title}</title>
    </head>
    <body class="bg-zinc-950 relative min-h-screen max-w-screen mx-auto">
        <main class="py-20 container mx-auto max-w-screen-md">
            <NavBar />
            <slot />
        </main>
    </body>
</html>
